<div class="contenedor">
    <div class="side-panel">
        <div class="p-3 search-content">
            <h2><i class="fas fa-comments"></i><span>Chats</span></h2>
            <div class="form-group">
                <input type="text" id="search" class="form-control" placeholder="Buscar contacto...">
            </div>
        </div>
        <div class="contacts">
            <ul>
                <li class="contact" *ngFor="let user of Users | async">
                    <button class="border-0 bg-transparent wrap d-flex"
                        (click)="StartConversation(user._id)">
                        <img [src]="user.image" width="45" height="45" title="{{user.name}}">
                        <div class="meta">
                            <p class="name text-truncate">{{user.name}}</p>
                        </div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="conversation" *ngIf="this.showChat | async">
        <div class="contact-profile">
            <img [src]="Chat.UrlImage" width="40" height="40" alt="">
            <div>
                <p class="text-truncate">{{Chat.DisplayName}}</p>
            </div>
        </div>
        <div class="messages1" id="scroll">
            <ul>
                <li [ngClass]="{'sent': item.user !== this.User._id, 'replies': item.user === this.User._id}"
                    *ngFor="let item of Messages | async">
                    <img [src]="FilterImage(item)" width="30" height="30" alt="">
                    <p>{{item.message}}</p>
                </li>
                <li class="replies">
                    <div id="typing" class="text-info mb-0 ml-1"></div>
                </li>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input type="text" placeholder="Escribe un mensaje..." autocomplete="off" id="Message"
                    style="resize: none;" (input)="OnChange($event)" (keypress)="onKeyPress($event)">
                <button class="submit" (click)="PushMessage()">
                    <i class="fas fa-paper-plane" [hidden]="(LoadingMessage | async)"></i>
                    <div class="spinner-border text-primary" role="status" [hidden]="!(LoadingMessage | async)">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>

</div>