<div class="row">
    <div class="col-md-5 h-100 d-flex align-items-center justify-content-center">
        <img src="../../../assets/img/slack.png" class="animated bounceInLeft" width="300" height="300" alt="">
    </div>
    <div class="col-md-7 h-100 d-flex align-items-center justify-content-center">
        <div class="card w-75 animated bounceInRight">
            <div class="card-header gradient text-center">
                <span class="text-white font-weight-bold h3 text-uppercase">Iniciar Sesión</span>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input type="text" class="form-control my-3" placeholder="Ingrese su usuario">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control my-3" placeholder="Ingrese su contraseña">
                </div>
            </div>
            <div class="card-footer">
                    <span class="float-left">No tiene cuenta? <a routerLink="/signup">Registrese aqui</a></span>
                <button class="btn gradient text-white border-0 font-weight-bold float-right">Ingresar</button>
            </div>
        </div>
        
    </div>
</div>