.row{
    height: calc(100% - 56px);
    overflow-x: hidden;
}

.col-md-5, .col-md-7{
    height: 100%;
}

.form-control{
    border: none;
    background-color: #eee;
}

.form-control:focus{
    box-shadow: none;
    outline: none;
}

@media screen and (max-width: 767px){
    .col-md-5, .col-md-7{
        height: auto;
    }
}