.content-users{
    background-color: #eee;
    background-attachment: fixed;
    height: calc(100vh - 56px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-users::-webkit-scrollbar{
    width: 8px;
    background: transparent;
}

.content-users::-webkit-scrollbar-thumb{
  background-color: #797979;
}